@import "tailwindcss";

/*This is the color theme of the app*/
@theme {
  /*For the background of the app*/
  --color-background: hsl(var(--background));
  
  /*This is for the background color for the sidebar*/
  --color-background: hsl(var(--sidebar-background))
  
  /*This controls the color of the text*/
  --color-text: hsl(var(--text-color));
  
  /*This is for the color of the submit button*/
  --color-button: hsl(var(--submit-button));

  /*color for the icon for the other accessory buttons*/
  --color-button: hsl(var(--other-prompt-button))
  
  /*This is for the border color of the prompt*/
  --color-border: hsl(var(--prompt-border));

  /*Color for the prompt box*/
  --color-background : hsl(var(--prompt-box))
}

/*defining the colors that will be passed to the variables up top*/
@layer base {
  :root {
    /*The only color will be dark mode*/
    --background: 0 0% 15%;
    --sidebar-background: 0 0% 11%;
    --text-color: 0 0% 100%;
    --submit-button: 0 0% 19%;
    --prompt-box: 0 0% 43%;
    --prompt-border: 0 0% 43%;
    --other-prompt-button: 270 4% 47%;
  }
}

@utility container {
  margin-inline : auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility heading {
  font-size: 4rem;
  font-weight : bold;
  padding: 0;
  
  
}



.dark {
  background-color: var(--prompt-box);
  padding-bottom: 0px;
}

@font-face {
  font-family: "Sommar";
  src: url("/doc_agent/frontend/src/assets/font/SommarDisplay.ttf") format("truetype");
}

@font-face {
  font-family: "aeternus_nano_thin";
  src: url("/doc_agent/frontend/src/assets/font/aeternus_nano_thin\ \(static\).otf") format("otf");
}

@font-face {
  font-family: "Matter";
  src: url("/doc_agent/frontend/src/assets/font/Matter-Regular.otf") format("opentype");
}